@use 'fonts';
@use 'colors';

html {
    text-align: center;
}

@import "style/body.css";
@import "style/menu.css";
@import "style/menu2.css";
@import "style/date.css";


  

@media (min-width: 1550px) {

    .place {
        margin-top: 2%;
        margin-left: 2%;
        height: 38px;
        a {
        width: 300px;
        text-decoration: none;
        color: colors.$col2;
        font-family: fonts.$font1;
        font-size: 30px;
        }
      }

    .place2 {
        color: colors.$col2;
        font-family: fonts.$font1;
        font-size: 22px;
    }

    .regdetails {
        margin-top: 4%;
        width: 722px;
    }

    .register a {
        float: left;
        text-decoration: none;
        color: colors.$col3;
        font-weight: bold;
        font-style: italic;
        outline: 5px solid colors.$col3;
        padding: 20px 40px;
        position: relative;
        font-family: fonts.$font2;
        font-size: 30px;
    }

    .details {
        text-align: left;
        a {
        text-decoration: none;
        color: colors.$col3;
        position: relative;
        bottom: -30px;
        left: 50px;
        font-family: fonts.$font2;
        font-size: 20px;
        font-weight: bold;
        }
    }

    .ABU {
        margin-top: 20%;
        margin-left: 172px;
        text-align: left;
        width: 95%;
        color: colors.$col2;
        position: relative;
    }

    .ABU1 {
        font-family: fonts.$font2;
        font-size: 44px;
    }

    .ABU2 {
        width: 920px;
        margin-top: 45px;
        margin-left: 50;
        font-family: fonts.$font1;
        font-size: 17px;
    }

    .Sha {
        text-align: left;
        margin-top: 55px;
        margin-left: 222px;
        font-family: fonts.$font1;
        font-size: 14px;
        color: colors.$col4;
        a {
        text-decoration: none;
        margin-left: 20px;
        color: colors.$col3;
        font-family: fonts.$font2;
        font-size: 14px;
        }
    }

    .Schedule {
        margin-left: 222px;
        margin-top: 122px;
        color: colors.$col4;
        text-align: left;
    }

    .t1td1 {
        font-family: fonts.$font2;
        font-size: 17px;
        color: colors.$col4;
    }

    .t1td2 {
        margin-left: 26px;
        font-family: fonts.$font1;
        font-size: 18px;
        line-height: 1.35;
        color: colors.$col4;

    }

    .Speakers {
        margin-left: 222px;
        margin-top: 154px;
        width: 920px;
        color: colors.$col2;
    }

    .t2tr1 {
        font-family: fonts.$font2;
        font-size: 36px;
        text-align: left;
        font-weight: bold;
    }

    .t2tr2td1 {
        width: 200px;
        text-align: center;
    }

    .t2tr2td2 {
        width: 200px;
        text-align: center;
    }

    .t2tr2td3 {
        width: 200px;
        text-align: center;
    }

    .t2tr2td4 {
        width: 200px;
        text-align: center;
    }

    .t2tr3td1 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td2 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td3 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td4 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .MP {
        text-align: left;
        margin-top: 95px;
        margin-left: 222px;
        color: colors.$col4;
        font-family: fonts.$font2;
        font-size: 18px;
        a {
        margin-left: 40%;
        text-decoration: none;
        color: colors.$col3;
        }
    }

    .WW {
        margin-left: 222px;
        margin-top: 160px;
        text-align: left;
        color: colors.$col4;
    }

    .WW1 {
        margin-top: -60px;
        font-weight: bold;
        font-family: fonts.$font2;
        font-size: 36px;
        color: colors.$col4;
    }

    .WW2 {
        margin-top: 37px;
        font-weight: bold;
        font-size: 25px;
        font-family: fonts.$font2;
        color: colors.$col4;
    }

    .WW3 {
        margin-top: 12px;
        font-size: 30px;
        font-family: fonts.$font2;
        color: colors.$col4;
    }

    .WW4 {
        margin-top: 18px;
        font-size: 18px;
        font-family: fonts.$font1;
        color: colors.$col4;

    }

    .WW5 a {
        float: left;
        margin-top: 20px;
        text-decoration: none;
        color: colors.$col3;
        font-weight: bold;
        font-style: italic;
        outline: 5px solid colors.$col3;
        padding: 20px 40px;
        font-size: 30px;
        font-family: fonts.$font2;
    }
    .map {
        margin-left: 160px;
    }

    .Weare {
        margin-top: 500px;
        text-align: left;
        color: colors.$col4;
        width: 1200px;
    }

    .Weare1 {
        margin-left: 172px;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
    }

    .Weare2 {
        margin-left: 222px;
        font-size: 17px;
        font-family: fonts.$font1;
    }

    .ESVYcount {
        margin-top: 50px;
        margin-left: 222px;
        color: colors.$col4;
        text-align: left;
    }

    .ESVY1 {
        text-align: left;
        color: colors.$col4;
        font-weight: bold;
        font-size: 68px;
        font-family: fonts.$font2;
    }

    .ESVY2 {
        margin-top: -20px;
        text-align: left;
        color: colors.$col4;
        font-size: 30px;
        font-family: fonts.$font1;
    }

    .OnFb {
        margin-top: 110px;
        margin-left: 222px;
        text-align: left;

        font-weight: bold;
        font-size: 28px;
        font-family: fonts.$font2;
        a {
        text-decoration: none;
        color: colors.$col3;
        }
    }

    .Friends {
        margin-top: 150px;
        margin-left: 172px;
        text-align: left;
        height: 60px;
        color: colors.$col4;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
        a {
          margin-right: 60px;
          display: inline-block;
          vertical-align: middle;
        }
    }

    .FF {
        margin-left: 50px;
    }

    .Contact {
        margin-top: 280px;
        margin-left: 172px;
        text-align: left;
        color: colors.$col4;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
    }

    .input {
        text-align: center;
        margin-top: 10px;
        background: colors.$col1;
    }

}

@media (min-width: 1200px) and (max-width: 1549px) {

    .place {
        margin-top: 2%;
        margin-left: 2%;
        height: 38px;
    }

    .place1 a {
        width: 300px;
        text-decoration: none;
        color: colors.$col2;
        font-family: fonts.$font1;
        font-size: 30px;
    }

    .place2 {
        color: colors.$col2;
        font-family: fonts.$font1;
        font-size: 22px;
    }

    .regdetails {
        margin-top: 4%;
        margin-left: 2%;
        width: 722px;
    }

    .register a {
        float: left;
        text-decoration: none;
        color: colors.$col3;
        font-weight: bold;
        font-style: italic;
        outline: 5px solid colors.$col3;
        padding: 20px 40px;
        position: relative;
        font-family: fonts.$font2;
        font-size: 30px;
        float: left;
    }

    .details {
        text-align: left;
        a {
        text-decoration: none;
        color: colors.$col3;
        position: relative;
        bottom: -30px;
        left: 50px;
        font-family: fonts.$font2;
        font-size: 20px;
        font-weight: bold;
        }
    }

    .ABU {
        margin-top: 20%;
        margin-left: 9%;
        text-align: left;
        width: 100%;
        color: colors.$col2;
        position: relative;
    }

    .ABU1 {
        font-family: fonts.$font2;
        font-size: 44px;
    }

    .ABU2 {
        width: 920px;
        margin-top: 45px;
        margin-left: 3%;
        font-family: fonts.$font1;
        font-size: 17px;
    }

    .Sha {
        text-align: left;
        margin-top: 55px;
        margin-left: 12%;
        font-family: fonts.$font1;
        font-size: 14px;
        color: colors.$col4;
        a {
        text-decoration: none;
        margin-left: 20px;
        color: colors.$col3;
        font-family: fonts.$font2;
        font-size: 14px;
        }
    }

    .Schedule {
        margin-left: 12%;
        margin-top: 122px;
        color: colors.$col4;
        text-align: left;
    }

    .t1td1 {
        font-family: fonts.$font2;
        font-size: 17px;
        color: colors.$col4;
    }

    .t1td2 {
        margin-left: 26px;
        font-family: fonts.$font1;
        font-size: 18px;
        line-height: 1.35;
        color: colors.$col4;

    }

    .Speakers {
        margin-left: 12%;
        margin-top: 154px;
        width: 920px;
        color: colors.$col2;
    }

    .t2tr1 {
        font-family: fonts.$font2;
        font-size: 36px;
        text-align: left;
        font-weight: bold;
    }

    .t2tr2td1 {
        width: 200px;
        text-align: center;
    }

    .t2tr2td2 {
        width: 200px;
        text-align: center;
    }

    .t2tr2td3 {
        width: 200px;
        text-align: center;
    }

    .t2tr2td4 {
        width: 200px;
        text-align: center;
    }

    .t2tr3td1 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td2 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td3 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td4 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .MP {
        text-align: left;
        margin-top: 95px;
        margin-left: 12%;
        color: colors.$col4;
        font-family: fonts.$font2;
        font-size: 18px;
        a {
        margin-left: 40%;
        text-decoration: none;
        color: colors.$col3;
        }
    }

    .WW {
        margin-left: 12%;
        margin-top: 160px;
        text-align: left;
        color: colors.$col4;
    }

    .WW1 {
        margin-top: -60px;
        font-weight: bold;
        font-family: fonts.$font2;
        font-size: 36px;
        color: colors.$col4;
    }

    .WW2 {
        margin-top: 37px;
        font-weight: bold;
        font-size: 25px;
        font-family: fonts.$font2;
        color: colors.$col4;
    }

    .WW3 {
        margin-top: 12px;
        font-size: 30px;
        font-family: fonts.$font2;
        color: colors.$col4;
    }

    .WW4 {
        margin-top: 18px;
        font-size: 18px;
        font-family: fonts.$font1;
        color: colors.$col4;

    }

    .WW5 a {
        float: left;
        margin-top: 20px;
        text-decoration: none;
        color: colors.$col3;
        font-weight: bold;
        font-style: italic;
        outline: 5px solid colors.$col3;
        padding: 20px 40px;
        font-size: 30px;
        font-family: fonts.$font2;
    }

    .map {
        margin-left: 160px;
    }

    .Weare {
        margin-top: 500px;
        text-align: left;
        color: colors.$col4;
        width: 1200px; 
    }

    .Weare1 {
        margin-left: 9%;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
    }

    .Weare2 {
        margin-left: 12%;
        font-size: 17px;
        font-family: fonts.$font1;
    }

    .ESVYcount {
        margin-top: 50px;
        margin-left: 12%;
        color: colors.$col4;
        text-align: left;
    }

    .ESVY1 {
        text-align: left;
        color: colors.$col4;
        font-weight: bold;
        font-size: 68px;
        font-family: fonts.$font2;
    }

    .ESVY2 {
        margin-top: -20px;
        text-align: left;
        color: colors.$col4;
        font-size: 30px;
        font-family: fonts.$font1;
    }

    .OnFb {
        margin-top: 110px;
        margin-left: 12%;
        text-align: left;

        font-weight: bold;
        font-size: 28px;
        font-family: fonts.$font2;
        a {
        text-decoration: none;
        color: colors.$col3;
        }
    }

    .Friends {
        margin-top: 150px;
        margin-left: 12%;
        text-align: left;
        height: 60px;
        color: colors.$col4;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
        a {
        margin-right: 40px;
        display: inline-block;
        vertical-align: middle;
        }
    }

    .FF {
        margin-left: 0px;
    }

    .Contact {
        margin-top: 280px;
        margin-left: 172px;
        text-align: left;
        color: colors.$col4;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
    }

    .input {
        text-align: center;
        margin-top: 10px;
        background: colors.$col1;
    }

}

@media (min-width: 875px) and (max-width: 1199px) {
    .place {
        margin-top: 2%;
        margin-left: 2%;
        height: 38px;
    }

    .place1 a {
        width: 300px;
        text-decoration: none;
        color: colors.$col2;
        font-family: fonts.$font1;
        font-size: 30px;
    }

    .place2 {
        color: colors.$col2;
        font-family: fonts.$font1;
        font-size: 22px;
    }

    .regdetails {
        margin-top: 4%;
        margin-left: 2%;
        width: 722px;
    }

    .register a {
        float: left;
        text-decoration: none;
        color: colors.$col3;
        font-weight: bold;
        font-style: italic;
        outline: 5px solid colors.$col3;
        padding: 20px 40px;
        position: relative;
        font-family: fonts.$font2;
        font-size: 30px;
        float: left;
    }

    .details {
        text-align: left;
        a {
        text-decoration: none;
        color: colors.$col3;
        position: relative;
        bottom: -30px;
        left: 50px;
        font-family: fonts.$font2;
        font-size: 20px;
        font-weight: bold;
        }
    }

    .ABU {
        margin-top: 20%;
        margin-left: 9%;
        text-align: left;
        width: 100%;
        color: colors.$col2;
        position: relative;
    }

    .ABU1 {
        font-family: fonts.$font2;
        font-size: 44px;
    }

    .ABU2 {
        width: 700px;
        margin-top: 45px;
        margin-left: 3%;
        font-family: fonts.$font1;
        font-size: 17px;
    }

    .Sha {
        text-align: left;
        margin-top: 55px;
        margin-left: 12%;
        font-family: fonts.$font1;
        font-size: 14px;
        color: colors.$col4;
        a {
        text-decoration: none;
        margin-left: 20px;
        color: colors.$col3;
        font-family: fonts.$font2;
        font-size: 14px;
        }
    }

    .Schedule {
        margin-left: 12%;
        margin-top: 122px;
        color: colors.$col4;
        text-align: left;
    }

    .t1td1 {
        font-family: fonts.$font2;
        font-size: 17px;
        color: colors.$col4;
    }

    .t1td2 {
        margin-left: 26px;
        font-family: fonts.$font1;
        font-size: 18px;
        line-height: 1.35;
        color: colors.$col4;

    }

    .Speakers {
        margin-left: 12%;
        margin-top: 154px;
        width: 700px;
        color: colors.$col2;
    }

    .t2tr1 {
        font-family: fonts.$font2;
        font-size: 36px;
        text-align: left;
        font-weight: bold;
    }

    .t2tr2td1 {
        width: 170px;
        height: 170px;
        text-align: center;
        img {
        width: 100%;
        height: 100%;
        }
    }

    .t2tr2td2 {
        width: 170px;
        height: 170px;
        text-align: center;
        img {
        width: 100%;
        height: 100%;
        }
    }

    .t2tr2td3 {
        width: 170px;
        height: 170px;
        text-align: center;
        img {
        width: 100%;
        height: 100%;
        }
    }

    .t2tr2td4 {
        width: 170px;
        height: 170px;
        text-align: center;
        img {
        width: 100%;
        height: 100%;
        }
    }

    .t2tr3td1 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td2 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td3 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td4 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .MP {
        text-align: left;
        margin-top: 95px;
        margin-left: 12%;
        color: colors.$col4;
        font-family: fonts.$font2;
        font-size: 18px;
        a {
        margin-left: 40%;
        text-decoration: none;
        color: colors.$col3;
        }
    }

    .WW {
        margin-left: 9%;
        margin-top: 160px;
        text-align: left;
        color: colors.$col4;
    }

    .WW1 {
        margin-top: -60px;
        font-weight: bold;
        font-family: fonts.$font2;
        font-size: 36px;
        color: colors.$col4;
    }

    .WW2 {
        margin-top: 37px;
        font-weight: bold;
        font-size: 25px;
        font-family: fonts.$font2;
        color: colors.$col4;
    }

    .WW3 {
        margin-top: 12px;
        font-size: 30px;
        font-family: fonts.$font2;
        color: colors.$col4;
    }

    .WW4 {
        margin-top: 18px;
        font-size: 18px;
        font-family: fonts.$font1;
        color: colors.$col4;

    }

    .WW5 a {
        float: left;
        margin-top: 20px;
        text-decoration: none;
        color: colors.$col3;
        font-weight: bold;
        font-style: italic;
        outline: 5px solid colors.$col3;
        padding: 20px 40px;
        font-size: 30px;
        font-family: fonts.$font2;
    }

    .map {
        margin-left: 120px;
        img{
        width: 100%;
        }
    }

    .Weare {
        margin-top: 20%;
        text-align: left;
        color: colors.$col4;
        width: 800;
    }

    .Weare1 {
        margin-left: 9%;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
    }

    .Weare2 {
        margin-left: 12%;
        font-size: 17px;
        font-family: fonts.$font1;
    }

    .ESVYcount {
        margin-top: 50px;
        margin-left: 12%;
        color: colors.$col4;
        text-align: left;
    }

    .ESVY1 {
        text-align: left;
        color: colors.$col4;
        font-weight: bold;
        font-size: 68px;
        font-family: fonts.$font2;
    }

    .ESVY2 {
        margin-top: -20px;
        text-align: left;
        color: colors.$col4;
        font-size: 30px;
        font-family: fonts.$font1;
    }

    .OnFb {
        margin-top: 110px;
        margin-left: 12%;
        text-align: left;

        font-weight: bold;
        font-size: 28px;
        font-family: fonts.$font2;
        a {
        text-decoration: none;
        color: colors.$col3;
        }
    }

    .Friends {
        margin-top: 150px;
        margin-left: 12%;
        text-align: left;
        height: 60px;
        color: colors.$col4;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
        a {
        margin-right: 40px;
        display: inline-block;
        vertical-align: middle;
        align-content: center;
        }
    }

    .FF {
        margin-left: 0px;
        text-align: center;
    }

    .Contact {
        margin-top: 280px;
        margin-left: 12%;
        text-align: left;
        color: colors.$col4;
        font-weight: bold;
        font-size: 64px;
        font-family: fonts.$font2;
    }

    .input {
        text-align: center;
        margin-top: 10px;
        background: colors.$col1;
    }

}

@media (max-width: 874px) {

    .place {
        margin-top: 1%;
        margin-left: 1%;
        height: 20px;
        img {
        width: 25px;
        height: 25px;
        }
    }

    .place1 a {
        width: 100%;
        text-decoration: none;
        color: colors.$col2;
        font-family: fonts.$font1;
        font-size: 20px;
    }

    .place2 {
        color: colors.$col2;
        font-family: fonts.$font1;
        font-size: 18px;
    }

    .regdetails {
        margin-top: 4%;
        margin-left: 1%;
        width: 722px;
    }

    .register a {
        float: left;
        text-decoration: none;
        color: colors.$col3;
        font-weight: bold;
        font-style: italic;
        outline: 3px solid colors.$col3;
        padding: 1px 20px;
        position: relative;
        font-family: fonts.$font2;
        font-size: 20px;
        float: left;
    }

    .details {
        text-align: left;
        a {
        text-decoration: none;
        color: colors.$col3;
        position: relative;
        bottom: -15px;
        left: 25px;
        font-family: fonts.$font2;
        font-size: 10px;
        font-weight: bold;
        }
    }

    .ABU {
        margin-top: 20%;
        margin-left: 1%;
        text-align: left;
        width: 100%;
        color: colors.$col2;
        position: relative;
    }

    .ABU1 {
        font-family: fonts.$font2;
        font-size: 35px;
    }

    .ABU2 {
        width: auto;
        margin-top: 45px;
        margin-left: 3%;
        font-family: fonts.$font1;
        font-size: 17px;
    }

    .Sha {
        text-align: left;
        margin-top: 55px;
        margin-left: 12%;
        font-family: fonts.$font1;
        font-size: 14px;
        color: colors.$col4;
        a {
        text-decoration: none;
        margin-left: 20px;
        color: colors.$col3;
        font-family: fonts.$font2;
        font-size: 14px;
        }
    }

    .Schedule {
        margin-left: 12%;
        margin-top: 122px;
        color: colors.$col4;
        text-align: left;
    }

    .t1td1 {
        font-family: fonts.$font2;
        font-size: 17px;
        color: colors.$col4;
    }

    .t1td2 {
        margin-left: 26px;
        font-family: fonts.$font1;
        font-size: 17px;
        line-height: 1.3;
        color: colors.$col4;

    }

    .Speakers {
        margin-left: 1%;
        margin-top: 154px;
        width: auto;
        color: colors.$col2;
    }

    .t2tr1 {
        font-family: fonts.$font2;
        font-size: 36px;
        text-align: left;
        font-weight: bold;
    }

    .t2tr2td1 {
        width: auto;
        height: auto;
        text-align: center;
        img {
        width: 100%;
        height: 100%;
        }
    }

    .t2tr2td2 {
        width: auto;
        height: auto;
        text-align: center;
        img {
        width: 100%;
        height: 100%;
        }
    }

    .t2tr2td3 {
        width: auto;
        height: auto;
        text-align: center;
        img {
        width: 100%;
        height: 100%;
        }
    }

    .t2tr2td4 {
        width: auto;
        height: auto;
        text-align: center;
        img {
        width: 100%;
        height: 100%;
        }
    }

    .t2tr3td1 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td2 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td3 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .t2tr3td4 {
        width: 100%;
        text-align: center;
        color: colors.$col4;
    }

    .MP {
        text-align: left;
        margin-top: 95px;
        margin-left: 12%;
        color: colors.$col4;
        font-family: fonts.$font2;
        font-size: 18px;
        a {
        margin-left: 40%;
        text-decoration: none;
        color: colors.$col3;
        }
    }

    .WW {
        margin-left: 1%;
        margin-top: 160px;
        text-align: left;
        color: colors.$col4;
    }

    .WW1 {
        margin-top: -60px;
        font-weight: bold;
        font-family: fonts.$font2;
        font-size: 25px;
        color: colors.$col4;
    }

    .WW2 {
        margin-top: 20px;
        font-weight: bold;
        font-size: 16px;
        font-family: fonts.$font2;
        color: colors.$col4;
    }

    .WW3 {
        margin-top: 12px;
        font-size: 20px;
        font-family: fonts.$font2;
        color: colors.$col4;
    }

    .WW4 {
        margin-top: 13px;
        font-size: 16px;
        font-family: fonts.$font1;
        color: colors.$col4;
        a {
        float: left;
        margin-top: 20px;
        text-decoration: none;
        color: colors.$col3;
        font-weight: bold;
        font-style: italic;
        outline: 3px solid colors.$col3;
        padding: 10px 20px;
        font-size: 20px;
        font-family: fonts.$font2;
        }
    }

    .map {
        margin-left: 120px;
        img{
        width: 100%;
        }
    }

    .Weare {
        margin-top: 20%;
        text-align: left;
        color: colors.$col4;
        width: auto;
    }

    .Weare1 {
        margin-left: 1%;
        font-weight: bold;
        font-size: 32px;
        font-family: fonts.$font2;
    }

    .Weare2 {
        margin-left: 11%;
        font-size: 15px;
        font-family: fonts.$font1;
    }

    .ESVYcount {
        margin-top: 50px;
        margin-left: 1%;
        color: colors.$col4;
        text-align: left;
    }

    .ESVY1 {
        text-align: left;
        color: colors.$col4;
        font-weight: bold;
        font-size: 40px;
        font-family: fonts.$font2;
    }

    .ESVY2 {
        margin-top: -20px;
        text-align: left;
        color: colors.$col4;
        font-size: 20px;
        font-family: fonts.$font1;
    }

    .OnFb {
        margin-top: 60px;
        margin-left: 1%;
        text-align: left;

        font-weight: bold;
        font-size: 20px;
        font-family: fonts.$font2;
        a {
        text-decoration: none;
        color: colors.$col3;
        }
    }

    .Friends {
        margin-top: 100px;
        margin-left: 1%;
        text-align: left;
        height: 60px;
        color: colors.$col4;
        font-weight: bold;
        font-size: 40px;
        font-family: fonts.$font2;
        a {
        margin-right: 40px;
        display: inline-block;
        vertical-align: middle;
        align-content: center;
        }
    }

    .FF {
        margin-left: 0px;
        text-align: center;
    }

    .Contact {
        margin-top: 180px;
        margin-left: 1%;
        text-align: left;
        color: colors.$col4;
        font-weight: bold;
        font-size: 40px;
        font-family: fonts.$font2;
    }

    .input {
        text-align: center;
        margin-top: 10px;
        background: colors.$col1;
    }

}
