@media (min-width: 1550px) {
    date {
        margin-top: 173px;
        margin-left: 0%;
        font-size: 40px;
        font-family: fonts.$font2;
        text-align: left;
        color: colors.$col2;
    }
}

@media (min-width: 1200px) and (max-width: 1549px) {
    .date {
        margin-top: 173px;
        margin-left: 2%;
        font-size: 40px;
        font-family: fonts.$font2;
        text-align: left;
        color: colors.$col2;
    }
}

@media (min-width: 875px) and (max-width: 1199px) {
    .date {
        margin-top: 173px;
        margin-left: 2%;
        font-size: 40px;
        font-family: fonts.$font2;
        text-align: left;
        color: colors.$col2;
    }
}

@media (max-width: 874px) {
    .date {
        position: relative;
        margin-top: 150px;
        font-size: 30px;
        font-family: fonts.$font2;
        text-align: left;
        color: colors.$col2;
    }
}
