.description {
  margin-top: 35px;
  width: 1340px;
  height: 385px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__head {
    margin-top: 55px;
    margin-left: 100px;
    flex-basis: 1240px;
    font-family: $font2;
    font-size: 60px;
  }

  &__date {
    margin-left: 100px;
    font-family: $font2;
    font-size: 20px;
  }

  &__text {
    width: 700px;
    height: 138px;
  }

  &__mediapartners {
    width: 155px;
    height: 107px;
  }

  .mediapartners {
    font-family: $font1;
    font-size: 18px;
    text-align: right;

    &__list {
      margin-top: 18px;
      font-family: $font2;
      font-size: 16px;
      text-align: right;
    }
  }
}