about-us {
  text-align: left;
  color: $col4;
}

&__heading {
  font-weight: bold;
  font-family: $font2;
}

&__text {
  font-family: $font1;
}

@media (min-width: 1550px) {

  about-us {
    margin-top: 500px;
    width: 1200px;
  }

  &__heading {
    margin-left: 172px;
    font-size: 64px;
  }

  &__text {
    margin-left: 222px;
    font-size: 17px;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  about-us {
    margin-top: 500px;
    width: 1200px;
  }

  &__heading {
    margin-left: 9%;
    font-size: 64px;
  }

  &__text {
    margin-left: 12%;
    font-size: 17px;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  about-us {
    margin-top: 20%;
    width: 800;
  }

  &__heading {
    margin-left: 9%;
    font-size: 64px;
  }

  &__text {
    margin-left: 12%;
    font-size: 17px;
  }
}

@media (max-width: 874px) {

  about-us {
    margin-top: 20%;
    width: auto;
  }

  &__heading {
    margin-left: 1%;
    font-size: 32px;
  }

  &__text {
    margin-left: 11%;
    font-size: 15px;
  }
}
