.about-event {
  margin-top: 20%;
  text-align: left;
  color: $col2;
  position: relative;
}

&__heading {
  font-family: $font2;
}

&__text {
  margin-top: 45px;
  font-family: $font1;
  font-size: 17px;
}

@media (min-width: 1550px) {

  .about-event {
    margin-left: 172px;
    width: 95%;
  }

  &__heading {
    font-size: 44px;
  }

  &__text {
    width: 920px;
    margin-left: 50;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  .about-event {
    margin-left: 9%;
    width: 100%;
  }

  &__heading {
    font-size: 44px;
  }

  &__text {
    width: 920px;
    margin-left: 3%;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .about-event {
    margin-left: 9%;
    width: 100%;
  }

  &__heading {
    font-size: 44px;
  }

  &__text {
    width: 700px;
    margin-left: 3%;
  }
}

@media (max-width: 874px) {

  .about-event {
    margin-left: 1%;
    width: 100%;
  }

  &__heading {
    font-size: 35px;
  }

  &__text {
    width: auto;
    margin-left: 3%;
  }
}