.contact {
  @media (min-width: 1550px) {
    margin-top: 280px;
    margin-left: 172px;
    text-align: left;
    color: $col4;
    font-weight: bold;
    font-size: 64px;
    font-family: $font2;
  }
  @media (min-width: 1200px) and (max-width: 1549px) {
    margin-top: 280px;
    margin-left: 172px;
    text-align: left;
    color: $col4;
    font-weight: bold;
    font-size: 64px;
    font-family: $font2;
  }
  @media (min-width: 875px) and (max-width: 1199px) {
    margin-top: 280px;
    margin-left: 12%;
    text-align: left;
    color: $col4;
    font-weight: bold;
    font-size: 64px;
    font-family: $font2;
  }
  @media (max-width: 874px) {
    margin-top: 180px;
    margin-left: 1%;
    text-align: left;
    color: $col4;
    font-weight: bold;
    font-size: 40px;
    font-family: $font2;
  }

  &__form-input-name [placeholder] {
    height: 60px;
    width: 600px;
  }

  &__form-input-e-mail [placeholder] {
    height: 60px;
    width: 600px;
  }

  &__form-input-message [placeholder] {
    height: 240px;
    width: 600px;
  }

  &__form-input textarea {
    background-color: $col1;
    font-size: 22px;
    color: $col4;
  }

  &__form-input button {
    background-color: $col3;
    width: 600px;
    height: 60px;
    font-family: $font2;
    color: $col1;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    outline: none;
    border: 0px;
  }

  &__form-input {
    @media (min-width: 1550px) {
      text-align: center;
      margin-top: 10px;
      float: left;
      margin-left: 20%;
      font-family: $font2;
    }
    @media (min-width: 1200px) and (max-width: 1549px) {
      text-align: center;
      margin-top: 10px;
      float: left;
      margin-left: 20%;
      font-family: $font2;
    }
    @media (min-width: 875px) and (max-width: 1199px) {
      text-align: center;
      margin-top: 10px;
      float: left;
      margin-left: 10%;
      font-family: $font2;
    }
    @media (max-width: 874px) {
      text-align: center;
      margin-top: 10px;
      float: left;
      margin-left: 2%;
      font-family: $font2;
    }
  }
}