.counters {
  margin-top: 50px;
  color: $col4;
  text-align: left;
}

.ESVY1 {
  text-align: left;
  color: $col4;
  font-weight: bold;
  font-family: $font2;
}

.ESVY2 {
  margin-top: -20px;
  text-align: left;
  color: $col4;
  font-family: $font1;
}

@media (min-width: 1550px) {

  counters {
    margin-left: 222px;
  }

  .ESVY1 {
    font-size: 68px;
  }

  .ESVY2 {
    font-size: 30px;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  counters {
    margin-left: 12%;
  }

  .ESVY1 {
    font-size: 68px;
  }

  .ESVY2 {
    font-size: 30px;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  counters {
    margin-left: 12%;
  }

  .ESVY1 {
    font-size: 68px;
  }

  .ESVY2 {
    font-size: 30px;
  }
}

@media (max-width: 874px) {

  counters {
    margin-left: 1%;
  }

  .ESVY1 {
    font-size: 40px;
  }

  .ESVY2 {
    font-size: 20px;
  }
}
