.friends {
  text-align: left;
  height: 60px;
  color: $col4;
  font-weight: bold;
  font-family: $font2;
}

.friends a {
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 1550px) {

  .friends {
    margin-top: 150px;
    margin-left: 172px;
    font-size: 64px;
  }

  .friends a {
    margin-right: 60px;
}

  &__links {
    margin-left: 50px;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  .friends {
    margin-top: 150px;
    margin-left: 12%;
    font-size: 64px;
  }

  .friends a {
    margin-right: 40px;
  }

  &__links {
    margin-left: 0px;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .friends {
    margin-top: 150px;
    margin-left: 12%;
    font-size: 64px;
  }

  .friends a {
    margin-right: 40px;
    align-content: center;
  }

  &__links {
    margin-left: 0px;
    text-align: center;
  }
}

@media (max-width: 874px) {

  .friends {
    margin-top: 100px;
    margin-left: 1%;
    font-size: 40px;
  }

  .friends a {
    margin-right: 40px;
    align-content: center;
  }

  &__links {
    margin-left: 0px;
    text-align: center;
  }
}
