.head {
  margin-top: 10px;
  letter-spacing: 1px;
  @media (min-width: 1550px) {
    margin-left: 172px;
  }
  @media (min-width: 1200px) and (max-width: 1549px) {
    margin-left: 9%;
  }
  @media (min-width: 875px) and (max-width: 1199px) {
    margin-left: 9%;
  }
  @media (max-width: 874px) {
    margin-left: 1%;
  }

    &__logo {
      float: left;
      position: relative;
      text-align: left;
    }

    &__menu {
      font-family: $font1;
      width: 432px;
      height: 64px;
      margin: 20px 0px;
      font-size: 16px;
      line-height: 24px;
      float: right;
      position: relative;
    }

    &__menu a {
      text-decoration: none;
      color:$col2;
      margin: 0px 20px;
    }
}
