.head {
  margin-top: 10px;
  letter-spacing: 1px;
}

&__logo {
  float: left;
  position: relative;
  text-align: left;
}

&__menu {
  font-family: $font1;
  width: 422px;
  height: 64px;
  margin: 20px 0px;
  font-size: 16px;
  line-height: 24px;
  float: left;
  position: relative;
}

&__menu a {
  text-decoration: none;
  color:$col2;
  margin: 0px 20px;
}

@media (min-width: 1550px) {

  &__logo {
    width: 60%;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {
  
  .head {
    margin-left: 2%;
}

  &__logo {
    width: 60%;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .head {
    margin-left: 2%;
  }

  &__logo {
    width: 50%;
  }
}

@media (max-width: 874px) {

  .head {
    margin-left: 2%;
  }

  &__logo {
    width: 30%;
  }
}