.mediapartners {
  text-align: left;
  margin-top: 95px;
  color: $col4;
  font-family: $font2;
  font-size: 18px;
}

.mediapartners a {
  margin-left: 40%;
  text-decoration: none;
  color: $col3;
}

@media (min-width: 1550px) {

  .mediapartners {
    margin-left: 222px;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  .mediapartners {
    margin-left: 12%;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .mediapartners {
    margin-left: 12%;
  }
}

@media (max-width: 874px) {

  .mediapartners {
    margin-left: 12%;
  }
}
