.media {
  margin-top: 65px;
  display: flex;
  @media (min-width: 1200px) {
    padding: 0 100px;
    /*flex-wrap: wrap;*/
  }
  @media (min-width: 1057px) and (max-width: 1199px) {
    padding: 0 50px;
  }
  @media (min-width: 875px) and (max-width: 1056px) {
    flex-direction: column;
    padding: 0 50px;
  }
  @media (max-width: 874px) {
    flex-direction: column;
  }
}

.mediamenu span.medialink-source {
  display: flex;
  color: $col4;
  font-size: 24px;
  font-family: $font2;
  text-decoration: none;
  @media (min-width: 1057px) {
    text-align: left;
    flex-direction: column;
  }
  @media (max-width: 1056px) {
    height: 80px;
    display: flex;
    justify-content: space-around;
  }
}

.mediamenu span.medialink-source a {
  text-decoration: none;
  color: $col4;
}

.mediamenu span.active {
  background: red($color: #000000);
}

.tabcontent{
  margin-left: 60px;
}

.speakers-event {
  display: flex;
  flex-direction: column;
}

.tabcontent div.medialink-target {
  display: none;
}

.tabcontent div.show {
  display: flex;
}

.speaker-container {
  display: flex;
  margin-bottom: 40px;

  &__text {
    display: flex;
    flex-direction: column;
    color: $col4;
    margin-left: 42px;
    margin-top: 10px;
  }

  &__text-name {
    font-family: $font2;
    font-size: 18px;
    height: 30px;
    text-align: left;
  }
  &__text-theme {
    font-family: $font2;
    font-size: 22px;
    align-items: flex-start;
    text-align: left;
  }
}


.gallery {
  display: flex;
  align-items: center;
  height: 700px;
  background: $col1;
  @media (min-width: 1200px) {
    width: 850px;
    }
  @media (min-width: 1057px) and (max-width: 1199px) {
    width: 750px;
  }
  @media (min-width: 875px) and (max-width: 1056px) {
    width: 95%;
  }
  @media (max-width: 874px) {
    width: 95%;
  }
}

.gallery img {
  margin: 7px;
}

.gallery a {
  text-decoration: none;
}
