@media (min-width: 1550px) {

  .Schedule {
    margin-left: 222px;
    margin-top: 122px;
    color: $col4;
    text-align: left;
  }

  .t1td1 {
    font-family: $font2;
    font-size: 17px;
    color: $col4;
  }

  .t1td2 {
    margin-left: 26px;
    font-family: $font1;
    font-size: 18px;
    line-height: 1.35;
    color: $col4;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  .Schedule {
    margin-left: 12%;
    margin-top: 122px;
    color: $col4;
    text-align: left;
  }

  .t1td1 {
    font-family: $font2;
    font-size: 17px;
    color: $col4;
  }

  .t1td2 {
    margin-left: 26px;
    font-family: $font1;
    font-size: 18px;
    line-height: 1.35;
    color: $col4;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .Schedule {
    margin-left: 12%;
    margin-top: 122px;
    color: $col4;
    text-align: left;
  }

  .t1td1 {
    font-family: $font2;
    font-size: 17px;
    color: $col4;
  }

  .t1td2 {
    margin-left: 26px;
    font-family: $font1;
    font-size: 18px;
    line-height: 1.35;
    color: $col4;
  }
}

@media (max-width: 874px) {

  .Schedule {
    margin-left: 12%;
    margin-top: 122px;
    color: $col4;
    text-align: left;
  }

  .t1td1 {
    font-family: $font2;
    font-size: 17px;
    color: $col4;
  }

  .t1td2 {
    margin-left: 26px;
    font-family: $font1;
    font-size: 17px;
    line-height: 1.3;
    color: $col4;
  }
}
