.schedule {
  margin-top: 122px;
  color: $col4;
  text-align: left;
}

&__time {
  font-family: $font2;
  font-size: 17px;
  color: $col4;
}

&__event {
  margin-left: 26px;
  font-family: $font1;
  color: $col4;
}

@media (min-width: 1550px) {

  .schedule {
    margin-left: 222px;
  }

  &__event {
    font-size: 18px;
    line-height: 1.35;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  .schedule {
    margin-left: 12%;
  }

  &__event {
    font-size: 18px;
    line-height: 1.35;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .schedule {
    margin-left: 12%;
  }

  &__event {
    font-size: 18px;
    line-height: 1.35;
  }
}

@media (max-width: 874px) {

  .schedule {
    margin-left: 12%;
  }

  &__event {
    font-size: 17px;
    line-height: 1.3;
  }
}
