.Speakers {
  margin-top: 154px;
  color: $col2;
}

.t2tr1 {
  font-family: $font2;
  font-size: 36px;
  text-align: left;
  font-weight: bold;
}

.t2tr2td1 {
  text-align: center;
}

.t2tr2td2 {
  text-align: center;
}

.t2tr2td3 {
  text-align: center;
}

.t2tr2td4 {
  text-align: center;
}

.t2tr3td1 {
  width: 100%;
  text-align: center;
  color: $col4;
}

.t2tr3td2 {
  width: 100%;
  text-align: center;
  color: $col4;
}

.t2tr3td3 {
  width: 100%;
  text-align: center;
  color: $col4;
}

.t2tr3td4 {
  width: 100%;
  text-align: center;
  color: $col4;
}

@media (min-width: 1550px) {

  .Speakers {
    margin-left: 222px;
    width: 920px;
  }

  .t2tr2td1 {
    width: 200px;
  }

  .t2tr2td2 {
    width: 200px;
  }

  .t2tr2td3 {
    width: 200px;
  }

  .t2tr2td4 {
    width: 200px;
  }

  .t2tr3td1 {
    width: 100%;
    text-align: center;
    color: $col4;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  .Speakers {
    margin-left: 12%;
    width: 920px;
  }

  .t2tr2td1 {
    width: 200px;
  }

  .t2tr2td2 {
    width: 200px;
  }

  .t2tr2td3 {
    width: 200px;
  }

  .t2tr2td4 {
    width: 200px;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .Speakers {
    margin-left: 12%;
    width: 700px;
  }

  .t2tr2td1 {
    width: 170px;
    height: 170px;
  }

  .t2tr2td1 img {
    width: 100%;
    height: 100%;
  }

  .t2tr2td2 {
    width: 170px;
    height: 170px;
  }

  .t2tr2td2 img {
    width: 100%;
    height: 100%;
  }

  .t2tr2td3 {
    width: 170px;
    height: 170px;
  }

  .t2tr2td3 img {
    width: 100%;
    height: 100%;
  }

  .t2tr2td4 {
    width: 170px;
    height: 170px;
  }

  .t2tr2td4 img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 874px) {

  .Speakers {
    margin-left: 1%;
    width: auto;
  }

  .t2tr2td1 {
    width: auto;
    height: auto;
  }

  .t2tr2td1 img {
    width: 100%;
    height: 100%;
  }

  .t2tr2td2 {
    width: auto;
    height: auto;
    text-align: center;
  }

  .t2tr2td2 img {
    width: 100%;
    height: 100%;
  }

  .t2tr2td3 {
    width: auto;
    height: auto;
    text-align: center;
  }

  .t2tr2td3 img {
    width: 100%;
    height: 100%;
  }

  .t2tr2td4 {
    width: auto;
    height: auto;
    text-align: center;
  }

  .t2tr2td4 img {
    width: 100%;
    height: 100%;
  }
}
