.speakers {
  margin-top: 154px;
  color: $col2;
  @media (min-width: 1550px) {
    margin-left: 222px;
    width: 920px;
  }
  @media (min-width: 1200px) and (max-width: 1549px) {
    margin-left: 12%;
    width: 920px;
  }
  @media (min-width: 875px) and (max-width: 1199px) {
    margin-left: 12%;
    width: 700px;
  }
  @media (max-width: 874px) {
    margin-left: 1%;
    width: auto;
  }

  &__heading {
    font-family: $font2;
    font-size: 36px;
    text-align: left;
    font-weight: bold;
  }

  &__sergyenko-photo {
    text-align: center;
    @media (min-width: 1550px) {
      width: 200px;
    }
    @media (min-width: 1200px) and (max-width: 1549px) {
      width: 200px;
    }
    @media (min-width: 875px) and (max-width: 1199px) {
      width: 170px;
      height: 170px;
    }
    @media (max-width: 874px) {
      width: auto;
      height: auto;
    }
  }

  &__sergyenko-photo img {
    @media (min-width: 875px) and (max-width: 1199px) {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 874px) {
      width: 100%;
      height: 100%;
    }
  }


  &__smirnova-photo {
    text-align: center;
    @media (min-width: 1550px) {
      width: 200px;
    }
    @media (min-width: 1200px) and (max-width: 1549px) {
      width: 200px;
    }
    @media (min-width: 875px) and (max-width: 1199px) {
      width: 170px;
      height: 170px;
    }
    @media (max-width: 874px) {
      width: auto;
      height: auto;
      text-align: center;
    }
  }

  &__smirnova-photo img {
    @media (min-width: 875px) and (max-width: 1199px) {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 874px) {
      width: 100%;
      height: 100%;
    }
  }

  &__suhodolov-photo {
    text-align: center;
    @media (min-width: 1550px) {
      width: 200px;
    }
    @media (min-width: 1200px) and (max-width: 1549px) {
      width: 200px;
    }
    @media (min-width: 875px) and (max-width: 1199px) {
      width: 170px;
      height: 170px;
    }
    @media (max-width: 874px) {
      width: auto;
      height: auto;
      text-align: center;
    }
  }

  &__suhodolov-photo img {
    @media (min-width: 875px) and (max-width: 1199px) {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 874px) {
      width: 100%;
      height: 100%;
    }
  }

  &__lomau-photo {
    text-align: center;
    @media (min-width: 1550px) {
      width: 200px;
    }
    @media (min-width: 1200px) and (max-width: 1549px) {
      width: 200px;
    }
    @media (min-width: 875px) and (max-width: 1199px) {
      width: 170px;
      height: 170px;
    }
    @media (max-width: 874px) {
      width: auto;
      height: auto;
      text-align: center;
    }
  }

  &__lomau-photo img {
    @media (min-width: 875px) and (max-width: 1199px) {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 874px) {
      width: 100%;
      height: 100%;
    }
  }

  &__sergyenko {
    width: 100%;
    text-align: center;
    color: $col4;
    @media (min-width: 1550px) {
      width: 100%;
      text-align: center;
      color: $col4;
    }
  }

  &__smirnova {
    width: 100%;
    text-align: center;
    color: $col4;
  }

  &__suhodolov {
    width: 100%;
    text-align: center;
    color: $col4;
  }

  &__lomau {
    width: 100%;
    text-align: center;
    color: $col4;
  }
}