.time-place {
  margin-top: 160px;
  text-align: left;
  color: $col4;
}

&__heading {
  margin-top: -60px;
  font-weight: bold;
  font-family: $font2;
  color: $col4;
}

&__time {
  font-weight: bold;
  font-family: $font2;
  color: $col4;
}

&__url {
  margin-top: 12px;
  font-family: $font2;
  color: $col4;
}

&__adress {
  font-family: $font1;
  color: $col4;
}

&__registration a {
  float: left;
  margin-top: 20px;
  text-decoration: none;
  color: $col3;
  font-weight: bold;
  font-style: italic;
  font-family: $font2;
}

@media (min-width: 1550px) {

  .time-place {
    margin-left: 222px;
  }

  &__heading {
    font-size: 36px;
  }

  &__time {
    margin-top: 37px;
    font-size: 25px;
  }

  &__url {
    font-size: 30px;
  }

  &__adress {
    margin-top: 18px;
    font-size: 18px;
  }

  &__registration a {
    outline: 5px solid $col3;
    padding: 20px 40px;
    font-size: 30px;
  }

  &__map {
    margin-left: 160px;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  .time-place {
    margin-left: 12%;
  }

  &__heading {
    font-size: 36px;
  }

  &__time {
    margin-top: 37px;
    font-size: 25px;
  }

  &__url {
    font-size: 30px;
  }

  &__adress {
    margin-top: 18px;
    font-size: 18px;
  }

  &__registration a {
    outline: 5px solid $col3;
    padding: 20px 40px;
    font-size: 30px;
  }

  &__map {
    margin-left: 160px;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .time-place {
    margin-left: 9%;
  }

  &__heading {
    font-size: 36px;
  }

  &__time {
    margin-top: 37px;
    font-size: 25px;
  }

  &__url {
    font-size: 30px;
  }

  &__adress {
    margin-top: 18px;
    font-size: 18px;
  }

  &__registration a {
    outline: 5px solid $col3;
    padding: 20px 40px;
    font-size: 30px;
  }

  &__map {
    margin-left: 120px;
  }

  &__map img{
    width: 100%;
  }
}

@media (max-width: 874px) {

  .time-place {
    margin-left: 1%;
  }

  &__heading {
    font-size: 25px;
  }

  &__time {
    margin-top: 20px;
    font-size: 16px;
  }

  &__url {
    font-size: 20px;
  }

  &__adress {
    margin-top: 13px;
    font-size: 16px;
  }

  &__registration a {
    outline: 3px solid $col3;
    padding: 10px 20px;
    font-size: 20px;
  }

  &__map {
    margin-left: 120px;
  }

  &__map img{
    width: 100%;
  }
}
