.WW {
  margin-top: 160px;
  text-align: left;
  color: $col4;
}

.WW1 {
  margin-top: -60px;
  font-weight: bold;
  font-family: $font2;
  color: $col4;
}

.WW2 {
  font-weight: bold;
  font-family: $font2;
  color: $col4;
}

.WW3 {
  margin-top: 12px;
  font-family: $font2;
  color: $col4;
}

.WW4 {
  font-family: $font1;
  color: $col4;
}

.WW5 a {
  float: left;
  margin-top: 20px;
  text-decoration: none;
  color: $col3;
  font-weight: bold;
  font-style: italic;
  font-family: $font2;
}

@media (min-width: 1550px) {

  .WW {
    margin-left: 222px;
  }

  .WW1 {
    font-size: 36px;
  }

  .WW2 {
    margin-top: 37px;
    font-size: 25px;
  }

  .WW3 {
    font-size: 30px;
  }

  .WW4 {
    margin-top: 18px;
    font-size: 18px;
  }

  .WW5 a {
    outline: 5px solid $col3;
    padding: 20px 40px;
    font-size: 30px;
  }

  .map {
    margin-left: 160px;
  }
}

@media (min-width: 1200px) and (max-width: 1549px) {

  .WW {
    margin-left: 12%;
  }

  .WW1 {
    font-size: 36px;
  }

  .WW2 {
    margin-top: 37px;
    font-size: 25px;
  }

  .WW3 {
    font-size: 30px;
  }

  .WW4 {
    margin-top: 18px;
    font-size: 18px;
  }

  .WW5 a {
    outline: 5px solid $col3;
    padding: 20px 40px;
    font-size: 30px;
  }

  .map {
    margin-left: 160px;
  }
}

@media (min-width: 875px) and (max-width: 1199px) {

  .WW {
    margin-left: 9%;
  }

  .WW1 {
    font-size: 36px;
  }

  .WW2 {
    margin-top: 37px;
    font-size: 25px;
  }

  .WW3 {
    font-size: 30px;
  }

  .WW4 {
    margin-top: 18px;
    font-size: 18px;
  }

  .WW5 a {
    outline: 5px solid $col3;
    padding: 20px 40px;
    font-size: 30px;
  }

  .map {
    margin-left: 120px;
  }

  .map img{
    width: 100%;
  }
}

@media (max-width: 874px) {

  .WW {
    margin-left: 1%;
  }

  .WW1 {
    font-size: 25px;
  }

  .WW2 {
    margin-top: 20px;
    font-size: 16px;
  }

  .WW3 {
    font-size: 20px;
  }

  .WW4 {
    margin-top: 13px;
    font-size: 16px;
  }

  .WW5 a {
    outline: 3px solid $col3;
    padding: 10px 20px;
    font-size: 20px;
  }

  .map {
    margin-left: 120px;
  }

  .map img{
    width: 100%;
  }
}
