html {
  text-align: center; }

@font-face {
  font-family: roboto;
  src: url("../src/fonts/roboto.ttf"); }
@font-face {
  font-family: space-mono;
  src: url("../src/fonts/space-mono.ttf"); }
body {
  display: inline-block;
  background: #303030; }
  @media (min-width: 1550px) {
    body {
      width: 1440px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    body {
      width: 100%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    body {
      width: 100%; } }
  @media (max-width: 874px) {
    body {
      width: 100%; } }

.head {
  margin-top: 10px;
  letter-spacing: 1px; }
  @media (min-width: 1550px) {
    .head {
      margin-left: 172px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .head {
      margin-left: 9%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .head {
      margin-left: 9%; } }
  @media (max-width: 874px) {
    .head {
      margin-left: 1%; } }
  .head__logo {
    float: left;
    position: relative;
    text-align: left; }
  .head__menu {
    font-family: roboto;
    width: 432px;
    height: 64px;
    margin: 20px 0px;
    font-size: 16px;
    line-height: 24px;
    float: right;
    position: relative; }
  .head__menu a {
    text-decoration: none;
    color: #f6f6f6;
    margin: 0px 20px; }

.social {
  font-family: space-mono;
  writing-mode: vertical-lr;
  position: absolute;
  right: 15px;
  margin-top: 100px; }

.social a {
  text-decoration: none;
  color: #00a38a;
  margin: 0px 20px; }

.date {
  font-family: space-mono;
  text-align: left;
  color: #f6f6f6; }
  @media (min-width: 1550px) {
    .date {
      margin-top: 173px;
      margin-left: 172px;
      font-size: 40px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .date {
      margin-top: 173px;
      margin-left: 9%;
      font-size: 40px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .date {
      margin-top: 173px;
      margin-left: 9%;
      font-size: 40px; } }
  @media (max-width: 874px) {
    .date {
      margin-top: 150px;
      position: relative;
      font-size: 30px;
      margin-left: 1%; } }

.name {
  font-family: space-mono;
  text-align: left;
  font-weight: bold;
  margin-top: 145px;
  color: #f6f6f6; }
  @media (min-width: 1550px) {
    .name {
      font-size: 100px;
      margin-left: 172px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .name {
      font-size: 100px;
      margin-left: 9%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .name {
      font-size: 70px;
      margin-left: 9%; } }
  @media (max-width: 874px) {
    .name {
      font-size: 50px;
      margin-left: 1%; } }

@media (min-width: 1550px) {
  .place {
    margin-top: 2%;
    margin-left: 172px;
    height: 38px; } }
@media (min-width: 1200px) and (max-width: 1549px) {
  .place {
    margin-top: 2%;
    margin-left: 9%;
    height: 38px; } }
@media (min-width: 875px) and (max-width: 1199px) {
  .place {
    margin-top: 2%;
    margin-left: 9%;
    height: 38px; } }
@media (max-width: 874px) {
  .place {
    margin-top: 1%;
    margin-left: 1%;
    height: 20px; } }
.place__link {
  width: 190px;
  height: 20px; }
.place__link a {
  text-decoration: none;
  color: #f6f6f6;
  font-family: roboto;
  font-size: 24px; }
.place__link img {
  height: 25px; }
.place__adress {
  color: #f6f6f6;
  font-family: roboto; }
  @media (min-width: 1550px) {
    .place__adress {
      font-size: 22px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .place__adress {
      font-size: 22px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .place__adress {
      font-size: 22px; } }
  @media (max-width: 874px) {
    .place__adress {
      font-size: 18px; } }

.registration {
  margin-top: 4%;
  width: 722px; }
  @media (min-width: 1550px) {
    .registration {
      margin-left: 172px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .registration {
      margin-left: 9%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .registration {
      margin-left: 9%; } }
  @media (max-width: 874px) {
    .registration {
      margin-left: 1%; } }
  .registration__registration a {
    float: left;
    text-decoration: none;
    color: #00a38a;
    font-weight: bold;
    font-style: italic;
    position: relative;
    font-family: space-mono; }
    @media (min-width: 1550px) {
      .registration__registration a {
        outline: 5px solid #00a38a;
        padding: 20px 40px;
        font-size: 30px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .registration__registration a {
        outline: 5px solid #00a38a;
        padding: 20px 40px;
        font-size: 30px;
        float: left; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .registration__registration a {
        outline: 5px solid #00a38a;
        padding: 20px 40px;
        font-size: 30px;
        float: left; } }
    @media (max-width: 874px) {
      .registration__registration a {
        outline: 3px solid #00a38a;
        padding: 1px 20px;
        font-size: 20px;
        float: left; } }
  .registration__details {
    text-align: left; }
  .registration__details a {
    text-decoration: none;
    color: #00a38a;
    position: relative;
    bottom: -30px;
    left: 50px;
    font-family: space-mono;
    font-size: 20px;
    font-weight: bold; }
    @media (min-width: 1550px) {
      .registration__details a {
        bottom: -30px;
        left: 50px;
        font-size: 20px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .registration__details a {
        bottom: -30px;
        left: 50px;
        font-size: 20px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .registration__details a {
        bottom: -30px;
        left: 50px;
        font-size: 20px; } }
    @media (max-width: 874px) {
      .registration__details a {
        bottom: -15px;
        left: 25px;
        font-size: 10px; } }

.about-event {
  margin-top: 20%;
  text-align: left;
  color: #f6f6f6;
  position: relative; }
  @media (min-width: 1550px) {
    .about-event {
      margin-left: 172px;
      width: 95%; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .about-event {
      margin-left: 9%;
      width: 100%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .about-event {
      margin-left: 9%;
      width: 100%; } }
  @media (max-width: 874px) {
    .about-event {
      margin-left: 1%;
      width: 100%; } }
  .about-event__heading {
    font-family: space-mono; }
    @media (min-width: 1550px) {
      .about-event__heading {
        font-size: 44px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .about-event__heading {
        font-size: 44px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .about-event__heading {
        font-size: 44px; } }
    @media (max-width: 874px) {
      .about-event__heading {
        font-size: 35px; } }
  .about-event__text {
    margin-top: 45px;
    font-family: roboto;
    font-size: 17px; }
    @media (min-width: 1550px) {
      .about-event__text {
        width: 920px;
        margin-left: 50; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .about-event__text {
        width: 920px;
        margin-left: 3%; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .about-event__text {
        width: 700px;
        margin-left: 3%; } }
    @media (max-width: 874px) {
      .about-event__text {
        width: auto;
        margin-left: 3%; } }

.share {
  text-align: left;
  margin-top: 55px;
  font-family: roboto;
  font-size: 14px;
  color: #ffffff; }
  @media (min-width: 1550px) {
    .share {
      margin-left: 222px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .share {
      margin-left: 12%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .share {
      margin-left: 12%; } }
  @media (max-width: 874px) {
    .share {
      margin-left: 12%; } }

.share a {
  text-decoration: none;
  margin-left: 20px;
  color: #00a38a;
  font-family: space-mono;
  font-size: 14px; }

.schedule {
  margin-top: 122px;
  color: #ffffff;
  text-align: left;
  font-family: space-mono; }
  @media (min-width: 1550px) {
    .schedule {
      margin-left: 222px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .schedule {
      margin-left: 12%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .schedule {
      margin-left: 12%; } }
  @media (max-width: 874px) {
    .schedule {
      margin-left: 12%; } }
  .schedule__time {
    font-family: space-mono;
    font-size: 17px;
    color: #ffffff; }
  .schedule__event {
    margin-left: 26px;
    font-family: roboto;
    color: #ffffff; }
    @media (min-width: 1550px) {
      .schedule__event {
        font-size: 18px;
        line-height: 1.35; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .schedule__event {
        font-size: 18px;
        line-height: 1.35; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .schedule__event {
        font-size: 18px;
        line-height: 1.35; } }
    @media (max-width: 874px) {
      .schedule__event {
        font-size: 17px;
        line-height: 1.3; } }

.speakers {
  margin-top: 154px;
  color: #f6f6f6; }
  @media (min-width: 1550px) {
    .speakers {
      margin-left: 222px;
      width: 920px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .speakers {
      margin-left: 12%;
      width: 920px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .speakers {
      margin-left: 12%;
      width: 700px; } }
  @media (max-width: 874px) {
    .speakers {
      margin-left: 1%;
      width: auto; } }
  .speakers__heading {
    font-family: space-mono;
    font-size: 36px;
    text-align: left;
    font-weight: bold; }
  .speakers__sergyenko-photo {
    text-align: center; }
    @media (min-width: 1550px) {
      .speakers__sergyenko-photo {
        width: 200px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .speakers__sergyenko-photo {
        width: 200px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .speakers__sergyenko-photo {
        width: 170px;
        height: 170px; } }
    @media (max-width: 874px) {
      .speakers__sergyenko-photo {
        width: auto;
        height: auto; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .speakers__sergyenko-photo img {
      width: 100%;
      height: 100%; } }
  @media (max-width: 874px) {
    .speakers__sergyenko-photo img {
      width: 100%;
      height: 100%; } }
  .speakers__smirnova-photo {
    text-align: center; }
    @media (min-width: 1550px) {
      .speakers__smirnova-photo {
        width: 200px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .speakers__smirnova-photo {
        width: 200px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .speakers__smirnova-photo {
        width: 170px;
        height: 170px; } }
    @media (max-width: 874px) {
      .speakers__smirnova-photo {
        width: auto;
        height: auto;
        text-align: center; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .speakers__smirnova-photo img {
      width: 100%;
      height: 100%; } }
  @media (max-width: 874px) {
    .speakers__smirnova-photo img {
      width: 100%;
      height: 100%; } }
  .speakers__suhodolov-photo {
    text-align: center; }
    @media (min-width: 1550px) {
      .speakers__suhodolov-photo {
        width: 200px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .speakers__suhodolov-photo {
        width: 200px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .speakers__suhodolov-photo {
        width: 170px;
        height: 170px; } }
    @media (max-width: 874px) {
      .speakers__suhodolov-photo {
        width: auto;
        height: auto;
        text-align: center; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .speakers__suhodolov-photo img {
      width: 100%;
      height: 100%; } }
  @media (max-width: 874px) {
    .speakers__suhodolov-photo img {
      width: 100%;
      height: 100%; } }
  .speakers__lomau-photo {
    text-align: center; }
    @media (min-width: 1550px) {
      .speakers__lomau-photo {
        width: 200px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .speakers__lomau-photo {
        width: 200px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .speakers__lomau-photo {
        width: 170px;
        height: 170px; } }
    @media (max-width: 874px) {
      .speakers__lomau-photo {
        width: auto;
        height: auto;
        text-align: center; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .speakers__lomau-photo img {
      width: 100%;
      height: 100%; } }
  @media (max-width: 874px) {
    .speakers__lomau-photo img {
      width: 100%;
      height: 100%; } }
  .speakers__sergyenko {
    width: 100%;
    text-align: center;
    color: #ffffff; }
    @media (min-width: 1550px) {
      .speakers__sergyenko {
        width: 100%;
        text-align: center;
        color: #ffffff; } }
  .speakers__smirnova {
    width: 100%;
    text-align: center;
    color: #ffffff; }
  .speakers__suhodolov {
    width: 100%;
    text-align: center;
    color: #ffffff; }
  .speakers__lomau {
    width: 100%;
    text-align: center;
    color: #ffffff; }

.mediapartners {
  text-align: left;
  margin-top: 95px;
  color: #ffffff;
  font-family: space-mono;
  font-size: 18px; }
  @media (min-width: 1550px) {
    .mediapartners {
      margin-left: 222px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .mediapartners {
      margin-left: 12%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .mediapartners {
      margin-left: 12%; } }
  @media (max-width: 874px) {
    .mediapartners {
      margin-left: 12%; } }

.mediapartners a {
  margin-left: 40%;
  text-decoration: none;
  color: #00a38a; }

.time-place {
  margin-top: 160px;
  text-align: left;
  color: #ffffff; }
  @media (min-width: 1550px) {
    .time-place {
      margin-left: 222px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .time-place {
      margin-left: 12%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .time-place {
      margin-left: 9%; } }
  @media (max-width: 874px) {
    .time-place {
      margin-left: 1%; } }
  .time-place__heading {
    margin-top: -60px;
    font-weight: bold;
    font-family: space-mono;
    color: #ffffff; }
    @media (min-width: 1550px) {
      .time-place__heading {
        font-size: 36px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .time-place__heading {
        font-size: 36px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .time-place__heading {
        font-size: 36px; } }
    @media (max-width: 874px) {
      .time-place__heading {
        font-size: 25px; } }
  .time-place__time {
    font-weight: bold;
    font-family: space-mono;
    color: #ffffff; }
    @media (min-width: 1550px) {
      .time-place__time {
        margin-top: 37px;
        font-size: 25px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .time-place__time {
        margin-top: 37px;
        font-size: 25px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .time-place__time {
        margin-top: 37px;
        font-size: 25px; } }
    @media (max-width: 874px) {
      .time-place__time {
        margin-top: 20px;
        font-size: 16px; } }
  .time-place__url {
    margin-top: 12px;
    font-family: space-mono;
    color: #ffffff; }
    @media (min-width: 1550px) {
      .time-place__url {
        font-size: 30px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .time-place__url {
        font-size: 30px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .time-place__url {
        font-size: 30px; } }
    @media (max-width: 874px) {
      .time-place__url {
        font-size: 20px; } }
  .time-place__adress {
    font-family: roboto;
    color: #ffffff; }
    @media (min-width: 1550px) {
      .time-place__adress {
        margin-top: 18px;
        font-size: 18px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .time-place__adress {
        margin-top: 18px;
        font-size: 18px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .time-place__adress {
        margin-top: 18px;
        font-size: 18px; } }
    @media (max-width: 874px) {
      .time-place__adress {
        margin-top: 13px;
        font-size: 16px; } }
  .time-place__registration a {
    float: left;
    margin-top: 20px;
    text-decoration: none;
    color: #00a38a;
    font-weight: bold;
    font-style: italic;
    font-family: space-mono; }
    @media (min-width: 1550px) {
      .time-place__registration a {
        outline: 5px solid #00a38a;
        padding: 20px 40px;
        font-size: 30px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .time-place__registration a {
        outline: 5px solid #00a38a;
        padding: 20px 40px;
        font-size: 30px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .time-place__registration a {
        outline: 5px solid #00a38a;
        padding: 20px 40px;
        font-size: 30px; } }
    @media (max-width: 874px) {
      .time-place__registration a {
        outline: 3px solid #00a38a;
        padding: 10px 20px;
        font-size: 20px; } }
  @media (min-width: 1550px) {
    .time-place__map {
      margin-left: 160px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .time-place__map {
      margin-left: 160px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .time-place__map {
      margin-left: 120px; } }
  @media (max-width: 874px) {
    .time-place__map {
      margin-left: 120px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .time-place__map img {
      width: 100%; } }
  @media (max-width: 874px) {
    .time-place__map img {
      width: 100%; } }

.about-us {
  text-align: left;
  color: #ffffff; }
  @media (min-width: 1550px) {
    .about-us {
      margin-top: 500px;
      width: 1200px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .about-us {
      margin-top: 500px;
      width: 1200px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .about-us {
      margin-top: 20%;
      width: 800; } }
  @media (max-width: 874px) {
    .about-us {
      margin-top: 20%;
      width: auto; } }
  .about-us__heading {
    font-weight: bold;
    font-family: space-mono; }
    @media (min-width: 1550px) {
      .about-us__heading {
        margin-left: 172px;
        font-size: 64px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .about-us__heading {
        margin-left: 9%;
        font-size: 64px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .about-us__heading {
        margin-left: 9%;
        font-size: 64px; } }
    @media (max-width: 874px) {
      .about-us__heading {
        margin-left: 1%;
        font-size: 32px; } }
  .about-us__text {
    font-family: roboto; }
    @media (min-width: 1550px) {
      .about-us__text {
        margin-left: 222px;
        font-size: 17px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .about-us__text {
        margin-left: 12%;
        font-size: 17px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .about-us__text {
        margin-left: 12%;
        font-size: 17px; } }
    @media (max-width: 874px) {
      .about-us__text {
        margin-left: 11%;
        font-size: 15px; } }

.count {
  margin-top: 50px;
  color: #ffffff;
  text-align: left; }
  @media (min-width: 1550px) {
    .count {
      margin-left: 222px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .count {
      margin-left: 12%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .count {
      margin-left: 12%; } }
  @media (max-width: 874px) {
    .count {
      margin-left: 1%; } }
  .count__events-counter {
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-family: space-mono; }
    @media (min-width: 1550px) {
      .count__events-counter {
        font-size: 68px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .count__events-counter {
        font-size: 68px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .count__events-counter {
        font-size: 68px; } }
    @media (max-width: 874px) {
      .count__events-counter {
        font-size: 40px; } }
  .count__speakers-counter {
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-family: space-mono; }
    @media (min-width: 1550px) {
      .count__speakers-counter {
        font-size: 68px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .count__speakers-counter {
        font-size: 68px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .count__speakers-counter {
        font-size: 68px; } }
    @media (max-width: 874px) {
      .count__speakers-counter {
        font-size: 40px; } }
  .count__visitors-counter {
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-family: space-mono; }
    @media (min-width: 1550px) {
      .count__visitors-counter {
        font-size: 68px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .count__visitors-counter {
        font-size: 68px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .count__visitors-counter {
        font-size: 68px; } }
    @media (max-width: 874px) {
      .count__visitors-counter {
        font-size: 40px; } }
  .count__years-counter {
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-family: space-mono; }
    @media (min-width: 1550px) {
      .count__years-counter {
        font-size: 68px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .count__years-counter {
        font-size: 68px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .count__years-counter {
        font-size: 68px; } }
    @media (max-width: 874px) {
      .count__years-counter {
        font-size: 40px; } }
  .count__events {
    margin-top: -20px;
    text-align: left;
    color: #ffffff;
    font-family: roboto; }
    @media (min-width: 1550px) {
      .count__events {
        font-size: 30px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .count__events {
        font-size: 30px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .count__events {
        font-size: 30px; } }
    @media (max-width: 874px) {
      .count__events {
        font-size: 20px; } }
  .count__speakers {
    margin-top: -20px;
    text-align: left;
    color: #ffffff;
    font-family: roboto; }
    @media (min-width: 1550px) {
      .count__speakers {
        font-size: 30px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .count__speakers {
        font-size: 30px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .count__speakers {
        font-size: 30px; } }
    @media (max-width: 874px) {
      .count__speakers {
        font-size: 20px; } }
  .count__visitors {
    margin-top: -20px;
    text-align: left;
    color: #ffffff;
    font-family: roboto; }
    @media (min-width: 1550px) {
      .count__visitors {
        font-size: 30px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .count__visitors {
        font-size: 30px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .count__visitors {
        font-size: 30px; } }
    @media (max-width: 874px) {
      .count__visitors {
        font-size: 20px; } }
  .count__years {
    margin-top: -20px;
    text-align: left;
    color: #ffffff;
    font-family: roboto; }
    @media (min-width: 1550px) {
      .count__years {
        font-size: 30px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .count__years {
        font-size: 30px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .count__years {
        font-size: 30px; } }
    @media (max-width: 874px) {
      .count__years {
        font-size: 20px; } }

.facebook-link {
  text-align: left;
  font-weight: bold;
  font-family: space-mono; }
  @media (min-width: 1550px) {
    .facebook-link {
      margin-top: 110px;
      margin-left: 222px;
      font-size: 28px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .facebook-link {
      margin-top: 110px;
      margin-left: 12%;
      font-size: 28px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .facebook-link {
      margin-top: 110px;
      margin-left: 12%;
      font-size: 28px; } }
  @media (max-width: 874px) {
    .facebook-link {
      margin-top: 60px;
      margin-left: 1%;
      font-size: 20px; } }

.facebook-link a {
  text-decoration: none;
  color: #00a38a; }

.friends {
  text-align: left;
  height: 60px;
  color: #ffffff;
  font-weight: bold;
  font-family: space-mono; }
  @media (min-width: 1550px) {
    .friends {
      margin-top: 150px;
      margin-left: 172px;
      font-size: 64px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .friends {
      margin-top: 150px;
      margin-left: 12%;
      font-size: 64px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .friends {
      margin-top: 150px;
      margin-left: 12%;
      font-size: 64px; } }
  @media (max-width: 874px) {
    .friends {
      margin-top: 100px;
      margin-left: 1%;
      font-size: 40px; } }
  .friends .friends a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none; }
    @media (min-width: 1550px) {
      .friends .friends a {
        margin-right: 60px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .friends .friends a {
        margin-right: 40px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .friends .friends a {
        margin-right: 40px;
        align-content: center; } }
    @media (max-width: 874px) {
      .friends .friends a {
        margin-right: 40px;
        align-content: center; } }
  .friends__links {
    text-decoration: none; }
    @media (min-width: 1550px) {
      .friends__links {
        margin-left: 50px; } }
    @media (min-width: 1200px) and (max-width: 1549px) {
      .friends__links {
        margin-left: 0px; } }
    @media (min-width: 875px) and (max-width: 1199px) {
      .friends__links {
        margin-left: 0px;
        text-align: center; } }
    @media (max-width: 874px) {
      .friends__links {
        margin-left: 0px;
        text-align: center; } }

@media (min-width: 1550px) {
  .contact {
    margin-top: 280px;
    margin-left: 172px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 64px;
    font-family: space-mono; } }
@media (min-width: 1200px) and (max-width: 1549px) {
  .contact {
    margin-top: 280px;
    margin-left: 172px;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 64px;
    font-family: space-mono; } }
@media (min-width: 875px) and (max-width: 1199px) {
  .contact {
    margin-top: 280px;
    margin-left: 12%;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 64px;
    font-family: space-mono; } }
@media (max-width: 874px) {
  .contact {
    margin-top: 180px;
    margin-left: 1%;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 40px;
    font-family: space-mono; } }
.contact__form-input-name [placeholder] {
  height: 60px;
  width: 600px; }
.contact__form-input-e-mail [placeholder] {
  height: 60px;
  width: 600px; }
.contact__form-input-message [placeholder] {
  height: 240px;
  width: 600px; }
@media (min-width: 1550px) {
  .contact__form-input {
    text-align: center;
    margin-top: 10px;
    background: #303030;
    float: left;
    font-size: 24px;
    margin-left: 20%;
    font-family: space-mono; } }
@media (min-width: 1200px) and (max-width: 1549px) {
  .contact__form-input {
    text-align: center;
    margin-top: 10px;
    background: #303030;
    float: left;
    font-size: 24px;
    margin-left: 20%;
    font-family: space-mono; } }
@media (min-width: 875px) and (max-width: 1199px) {
  .contact__form-input {
    text-align: center;
    margin-top: 10px;
    background: #303030;
    float: left;
    font-size: 24px;
    margin-left: 10%;
    font-family: space-mono; } }
@media (max-width: 874px) {
  .contact__form-input {
    text-align: center;
    margin-top: 10px;
    background: #303030;
    float: left;
    font-size: 24px;
    margin-left: 2%;
    font-family: space-mono; } }

@font-face {
  font-family: roboto;
  src: url("../src/fonts/roboto.ttf"); }
@font-face {
  font-family: space-mono;
  src: url("../src/fonts/space-mono.ttf"); }
body {
  display: inline-block;
  background: #303030; }
  @media (min-width: 1550px) {
    body {
      width: 1440px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    body {
      width: 100%; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    body {
      width: 100%; } }
  @media (max-width: 874px) {
    body {
      width: 100%; } }

.navigation-menu {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 1200px) {
    .navigation-menu {
      padding: 0 100px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .navigation-menu {
      padding: 0 50px; } }
  .navigation-menu__menu a {
    text-decoration: none;
    color: #f6f6f6;
    margin: 0px 20px; }

.social-event {
  font-family: space-mono;
  display: flex;
  justify-content: space-between;
  font-family: space-mono; }
  @media (min-width: 1550px) {
    .social-event {
      writing-mode: vertical-lr;
      position: absolute;
      right: 0px;
      top: 0px;
      margin-top: 100px;
      height: 300px; } }
  @media (min-width: 1200px) and (max-width: 1549px) {
    .social-event {
      writing-mode: vertical-lr;
      position: absolute;
      right: 0px;
      top: 0px;
      margin-top: 100px;
      height: 300px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .social-event {
      writing-mode: vertical-lr;
      position: absolute;
      right: 0px;
      top: 0px;
      margin-top: 100px;
      height: 300px; } }
  @media (max-width: 874px) {
    .social-event {
      width: 300px; } }

.social-event a {
  text-decoration: none;
  color: #00a38a;
  margin: 0px 20px; }

.description {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (min-width: 1200px) {
    .description {
      padding: 0 100px; } }
  @media (min-width: 875px) and (max-width: 1199px) {
    .description {
      padding: 0 50px; } }
  .description__head {
    margin-top: 55px;
    flex-basis: 100%;
    font-family: space-mono;
    font-size: 60px;
    text-align: left;
    margin-block-end: 26px;
    color: #ffffff; }
  .description__date {
    font-family: space-mono;
    font-size: 20px;
    text-align: left;
    color: #ffffff; }
  .description__text {
    font-size: 17px;
    text-align: left;
    color: #ffffff; }
    @media (min-width: 1200px) {
      .description__text {
        flex-basis: 700px; } }
    @media (min-width: 1000px) and (max-width: 1199px) {
      .description__text {
        flex-basis: 600px; } }
    @media (min-width: 875px) and (max-width: 999px) {
      .description__text {
        flex-basis: 400px; } }
    @media (max-width: 874px) {
      .description__text {
        flex-basis: 100%;
        margin-top: 20px;
        margin-bottom: 20px; } }
  .description__mediapartners {
    height: 107px; }
  .description .mediapartners-event {
    font-family: roboto;
    font-size: 18px;
    text-align: right;
    color: #ffffff; }
    .description .mediapartners-event__list {
      margin-top: 18px;
      font-family: space-mono;
      font-size: 16px;
      text-align: right; }
    .description .mediapartners-event__list a {
      text-decoration: none;
      color: #00a38a; }

.media {
  margin-top: 65px;
  display: flex; }
  @media (min-width: 1200px) {
    .media {
      padding: 0 100px;
      flex-wrap: wrap; } }
  @media (min-width: 1057px) and (max-width: 1199px) {
    .media {
      padding: 0 50px; } }
  @media (min-width: 875px) and (max-width: 1056px) {
    .media {
      flex-direction: column;
      padding: 0 50px; } }
  @media (max-width: 874px) {
    .media {
      flex-direction: column; } }
  .media__menu {
    color: #ffffff;
    font-size: 24px;
    font-family: space-mono;
    display: flex; }
    @media (min-width: 1057px) {
      .media__menu {
        height: 180px;
        text-align: left;
        flex-direction: column;
        justify-content: space-between; } }
    @media (max-width: 1056px) {
      .media__menu {
        height: 80px;
        display: flex;
        justify-content: space-around; } }
  .media__speakers {
    display: flex;
    font-family: space-mono; }
    @media (min-width: 1057px) {
      .media__speakers {
        flex-direction: column;
        margin-left: 92px; } }
    @media (max-width: 1056px) {
      .media__speakers {
        flex-wrap: wrap; } }

.SS {
  display: flex; }
  .SS__container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 42px;
    margin-top: 10px; }
  .SS__container-name {
    font-family: space-mono;
    font-size: 18px;
    height: 30px;
    text-align: left; }
  .SS__container-theme {
    font-family: space-mono;
    font-size: 22px;
    align-items: flex-start;
    text-align: left; }

.AS {
  display: flex;
  margin-top: 40px; }
  .AS__container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 42px;
    margin-top: 10px; }
  .AS__container-name {
    font-family: space-mono;
    font-size: 18px;
    height: 30px;
    text-align: left; }
  .AS__container-theme {
    font-family: space-mono;
    font-size: 22px;
    align-items: flex-start;
    text-align: left; }

.KS {
  display: flex;
  margin-top: 40px; }
  .KS__container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 42px;
    margin-top: 10px; }
  .KS__container-name {
    font-family: space-mono;
    font-size: 18px;
    height: 30px;
    text-align: left; }
  .KS__container-theme {
    font-family: space-mono;
    font-size: 22px;
    align-items: flex-start;
    text-align: left; }

.AL {
  display: flex;
  margin-top: 40px; }
  .AL__container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin-left: 42px;
    margin-top: 10px; }
  .AL__container-name {
    font-family: space-mono;
    font-size: 18px;
    height: 30px;
    text-align: left; }
  .AL__container-theme {
    font-family: space-mono;
    font-size: 22px;
    align-items: flex-start;
    text-align: left; }

.tagline {
  font-family: space-mono;
  color: #ffffff;
  font-weight: bold;
  margin-top: 40px; }
  @media (min-width: 1000px) {
    .tagline {
      font-size: 113px; } }
  @media (max-width: 999px) {
    .tagline {
      font-size: 60px; } }

.footer {
  font-family: space-mono;
  color: #ffffff;
  writing-mode: vertical-lr;
  position: absolute;
  right: 10px;
  bottom: -900px;
  /*margin-top: 100px;
  @media (min-width: 1550px) {
    transform: rotate(90deg);
    position: absolute;
    right: 23px;
  }
  @media (min-width:1200px) and (max-width: 1549px) {
    transform: rotate(90deg);
    position: absolute;
    right: -8px;
  }
  @media (min-width: 875px) and (max-width: 1199px) {
    transform: rotate(90deg);
    position: absolute;
    right: 48px;
  }
  @media (max-width: 874px) {
    text-align: center;
    margin-top: 10px;
  }*/ }

/*# sourceMappingURL=style.css.map */
