.share {
  text-align: left;
  margin-top: 55px;
  margin-bottom: 100px;
  font-family: $font1;
  font-size: 14px;
  color: $col4;
  @media (min-width: 1550px) {
    margin-left: 222px;
  }
  @media (min-width: 1200px) and (max-width: 1549px) {
    margin-left: 12%;
  }
  @media (min-width: 875px) and (max-width: 1199px) {
    margin-left: 12%;
  }
  @media (max-width: 874px) {
    margin-left: 12%;
  }
}

.share a {
  text-decoration: none;
  margin-left: 20px;
  color: $col3;
  font-family: $font2;
  font-size: 14px;
}
