@font-face {
  font-family: roboto;
  src: url("fonts/roboto.ttf"); }
@font-face {
  font-family: space-mono;
  src: url("fonts/space-mono.ttf"); }
.body {
  display: flex;
  justify-content: center;
  background-color: #303030; }

.navigation-menu {
  height: 85px;
  width: 1440px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.head {
  display: flex;
  width: 1240px;
  height: 54px;
  align-items: center; }
  .head__logo {
    display: flex;
    flex-basis: 818px; }
  .head__menu {
    font-family: space-mono;
    width: 422px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
  .head__menu a {
    text-decoration: none;
    color: #f6f6f6;
    margin: 0px 20px; }

.description {
  margin-top: 35px;
  width: 1340px;
  height: 385px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .description__head {
    margin-top: 55px;
    margin-left: 100px;
    flex-basis: 1240px;
    font-family: space-mono;
    font-size: 60px; }
  .description__date {
    margin-left: 100px;
    font-family: space-mono;
    font-size: 20px; }
  .description__text {
    width: 700px;
    height: 138px; }
  .description__mediapartners {
    width: 155px;
    height: 107px; }
  .description .mediapartners {
    font-family: roboto;
    font-size: 18px;
    text-align: right; }
    .description .mediapartners__list {
      margin-top: 18px;
      font-family: space-mono;
      font-size: 16px;
      text-align: right; }

.media {
  margin-top: 65px;
  display: flex;
  margin-left: 100px;
  flex-wrap: wrap; }
  .media__menu {
    height: 180px;
    width: 128px; }
  .media__speakers {
    width: 858px;
    height: 140px;
    margin-left: 92px;
    display: flex;
    flex-wrap: wrap; }

.ss {
  width: 858px;
  height: 140px;
  display: flex; }
  .ss__name {
    font-family: space-mono;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 42px;
    height: 30px; }
  .ss__theme {
    margin-top: 8px;
    margin-left: 42px;
    font-family: space-mono;
    font-size: 22px; }

.AS {
  margin-top: 40px;
  width: 858px;
  height: 140px;
  display: flex; }
  .AS__name {
    font-family: space-mono;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 42px;
    height: 30px;
    width: 200px; }
  .AS__theme {
    margin-top: 8px;
    margin-left: 42px;
    font-family: space-mono;
    font-size: 22px; }

.AS {
  margin-top: 40px;
  width: 858px;
  height: 140px;
  display: flex; }
  .AS__name {
    font-family: space-mono;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 42px;
    height: 30px;
    width: 200px; }
  .AS__theme {
    margin-top: 8px;
    margin-left: 42px;
    font-family: space-mono;
    font-size: 22px; }

.KS {
  margin-top: 40px;
  width: 858px;
  height: 140px;
  display: flex; }
  .KS__name {
    font-family: space-mono;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 42px;
    height: 30px;
    width: 200px; }
  .KS__theme {
    margin-top: 8px;
    margin-left: 42px;
    font-family: space-mono;
    font-size: 22px; }

.AL {
  margin-top: 40px;
  width: 858px;
  height: 140px;
  display: flex; }
  .AL__name {
    font-family: space-mono;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 42px;
    height: 30px;
    width: 200px; }
  .AL__theme {
    margin-top: 8px;
    margin-left: 42px;
    font-family: space-mono;
    font-size: 22px; }

/*# sourceMappingURL=style.css.map */
