.register a {
  float: left;
  text-decoration: none;
  color: #00a38a;
  font-weight: bold;
  font-style: italic;
  outline: 5px solid #00a38a;
  padding: 20px 40px;
  position: relative;
  font-family: space-mono;
  font-size: 30px;
}
